main {
  margin-top: 100px;
  padding-bottom: 100px;
}

.hot-offers {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #f5f5f5;
}

.hot-offers .offer__title h3 {
  position: relative;
  padding-bottom: 20px;
  text-align: center;
  color: #212121;
  font-size: 40px;
  font-weight: 500;
}

.hot-offers .offer__title h3::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 8%;
  bottom: 0%;
  left: 46%;
  background: #fa1818;
}

.scroll-top span {
  display: block;
  position: fixed;
  right: 3%;
  bottom: 5%;
  padding: 5px 10px;
  background: crimson;
  opacity: 0;
  transition: all 500ms ease-in-out;
}

.scroll-top span i {
  font-size: 20px;
  margin: 0;
  padding: 0;
}


