<div class="hot-offers">
    <div class="container">
        <div class="offer__title">
            <h3>Popular Brand</h3>
        </div>
        <h3>FOOD</h3>
        <div class="row list-product mb-5">
        </div>

        <h3>VEGETABLES</h3>
        <div class="row list-product mb-5">
        </div>

        <h3>BEVERAGES</h3>
        <div class="row list-product mb-5">
        </div>
    </div>
</div>

<div class="scroll-top">
    <span class="btn-scroll">
        <i class="fas fa-angle-up"></i>
    </span>
</div>

<script src="/js/main-list.js"></script>