<main>
    <div class="hot-offers">
        <div class="container">
            <div class="offer__title">
                <h3>Hot Offers</h3>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="offer__card">
                        <div class="offer__tag">

                        </div>
                        <div class="offer__contet">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div class="scroll-top">
    <span class="btn-scroll">
        <i class="fas fa-angle-up"></i>
    </span>
</div>

<script src="/js/main.js"></script>