<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6 footer__col">
            <h3>information</h3>
            <ul class="">
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Events</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">About Us</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Best Deals</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Services</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Short Codes</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer__col">
            <h3>policy info</h3>
            <ul class="">
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">FAQ</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">privacy policy</a>
                </li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">terms of use</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer__col">
            <h3>what in stores</h3>
            <ul class="">
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Pet Food</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Frozen Snacks</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Kitchen</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Branded Foods</a></li>
                <li> <i class="fas fa-chevron-right mr-3"></i> <a class="footer__contact" href="">Households</a></li>
            </ul>
        </div>
        <div class="col-md-3 col-sm-6 footer__col">
            <h3>twitter posts</h3>
            <ul class="">
                <li><label class="fa fa-twitter" aria-hidden="true"></label> <i class="fab fa-twitter"></i> <i style="color: #84C639;">01 day ago</i><span>Non numquam <a
                            class="footer__contact" href="#">http://sd.ds/13jklf#</a>
                        eius modi tempora incidunt ut labore et
                        <a class="footer__contact" href="#">http://sd.ds/1389kjklf#</a>quo nulla.</span></li>
                <li><label class="fa fa-twitter" aria-hidden="true"></label> <i class="fab fa-twitter"></i> <i style="color: #84C639;">02 day ago</i><span>Con numquam <a
                            class="footer__contact" href="#">http://fd.uf/56hfg#</a>
                        eius modi tempora incidunt ut labore et
                        <a class="footer__contact" href="#">http://fd.uf/56hfg#</a>quo nulla.</span></li>
            </ul>
        </div>
    </div>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12 footer__col ">
                <div class="">
                    <h4>100% secure payments</h4>
                    <img src="https://demo.w3layouts.com/demos_new/template_demo/20-07-2017/grocery_store-demo_Free/725976873/web/images/card.png"
                        alt=" " class="img-responsive" />
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-12 footer__col ">
                <div class="">
                    <h5>connect with us</h5>
                    <ul class="icons d-flex">
                        <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>© 2016 Grocery Store. All rights reserved | Design by <a href="#">W3layouts</a></p>
    </div>
</div>